<div class="ordinateur">
  <h3>
    Ordinateur
  </h3>  
  <span>Le choix de l'ordinateur est: {{choice}}</span>
  <button [disabled]="isDisabled" class="myButton" (click)="startChoice(choice)">Lancer le choix</button>
</div>
