<p>
  And the winner is: {{winner}}
</p>
<button (click)="reset()">Reset</button>
<app-joueur></app-joueur>
<app-ordinateur (onChoice)="analyseResults($event)" (onObs)="obsReceived($event)"></app-ordinateur>