<div class="joueur">
  <h3>
    Joueur
  </h3>
  <span>Mon choix est: {{myChoice}}</span>
  <button class="myButton" [disabled]="isDisabled" *ngFor="let choice of choices" (click)="setChoice(choice)">{{choice}}</button>
</div>
